/********************************************
   1680px (smaller resolutions desktop
********************************************/
@media (max-width: 105em) {
  .tiendas-grid {
    margin: 0 3.2rem;
  }

  .tienda-description p {
    padding: 1.6rem 3.2rem 1.6rem 1.8rem;
  }
}

/********************************************
   1550px (smaller resolutions desktop
********************************************/
@media (max-width: 97em) {
  .secondary-header {
    font-size: 5.2rem;
  }

  .tiendas-grid {
    margin: 0 2.4rem;
  }

  .tienda-description p {
    padding: 1.6rem;
    grid-column: 1 /-1;
  }

  .tienda-description iframe {
    width: 10rem;
    height: 10rem;

    top: 41%;
  }
}

/********************************************
   1300px (smallest resolutions desktop
********************************************/
@media (max-width: 81em) {
  html {
    font-size: 56.25%;
  }
}

/***********************************************
 1200px tablets
 **************************************************/
@media (max-width: 75em) {
  .tiendas-grid {
    max-width: 120rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem;
    column-gap: 3.2rem;
  }
  .tienda-description p {
    grid-column: 1 / 3;
  }

  .tienda-description iframe {
    width: 16rem;
    height: 16rem;
    top: 65%;
  }
}

/******************************************
      1024PX small tablets
**************************************/
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }

  .grid-3-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .secondary-header {
    font-size: 4.4rem;
  }

  .nav-bar-item {
    padding: 1.2rem;
  }
  .nosotros-container div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .nosotros-container div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .nosotros-text-box {
    padding: 2.4rem;
  }
  .nosotros-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .nosotros-lists-item {
    font-size: 1.6rem;
  }
  .nosotros-img {
    height: 80%;
  }

  .tienda-description {
    grid-template-columns: repeat(3, 1fr);
  }

  .noticias-box {
    gap: 1.8rem;
  }

  .cta-button {
    padding: 1.8rem 3rem;
  }
}

/************************************
912px screen
****************************************/
@media (max-width: 57em) {
  .mobile-nav-icon {
    display: block;
  }
  .nav-bar-main {
    background-color: rgba(0, 17, 50, 0.829);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* Hide */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-bar-list {
    flex-direction: column;
  }
  .nav-bar-item a:link,
  .nav-bar-item a:visited {
    font-size: 3rem;
  }

  .nav-open .nav-bar-main {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .mobile-nav-icon[name="open-button"] {
    display: none;
  }

  .nav-open .mobile-nav-icon[name="close-button"] {
    display: block;
  }

  .franquicias-flex {
    gap: 4.8rem;
  }
  .franquicias-item-grid {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .franquicias-cta-grid {
    grid-template-columns: 1fr 1fr;
  }
  .cta-button {
    padding: 1.8rem 2.4rem;
    margin: 0 2.4rem;
  }
}

/*********************************************************
800px smartphones horizontally
************************************************************/
@media (max-width: 50em) {
  .section-hero {
    padding: 4.8rem 0;
  }

  .hero-item {
    height: 40vh;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-carrousel-nav {
    top: 40vh;
  }

  .section-nosotros {
    padding: 6.4rem 0;
  }

  .section-tiendas {
    padding: 6.4rem 0;
  }

  .tienda-description p {
    grid-column: 1 /-1;
  }
  .tienda-description iframe {
    top: 45%;
    width: 12rem;
    height: 12rem;
  }
  .section-noticias {
    padding: 6.4rem 0;
  }

  .noticias-box {
    grid-template-columns: 1fr 1fr;
  }
}

/****************************************
  600px  mobile resolution
  ******************************************/
@media (max-width: 38em) {
}
