/* ******************************************
**  HEADER NAV-BAR
****************************************** */
.header {
  padding: 0 4.8rem;
  background-color: #001132;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4.8rem;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  height: 4.8rem;
}

.nav-bar-list {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.nav-bar-item {
  align-self: center;
  color: #fff;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
}

.nav-bar-item:hover {
  /* background-color: #002d86; */
  /* background-image: radial-gradient(#002d86 0, #001132 80%); */
}

.nav-bar-item a:link,
.nav-bar-item a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.3s;
}

.nav-bar-item a:hover,
.nav-bar-item a:active {
  border-bottom: 3px solid #fff;
}

.btn-online-shop {
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
}

/* ******************************************
**  HERO - carousel
****************************************** */
.section-hero {
  padding: 4.8rem 0 9.6rem;
  background-color: #001132;
}
.hero-item {
  width: auto;
  height: 55vh;
  background-size: cover;
  background-position: center;
  grid-template-columns: 1fr 2fr;
  display: grid;
}
.hero-item-text-box {
  background-image: linear-gradient(
    to right,
    rgba(0, 17, 50, 0.89) 0%,
    rgba(255, 255, 255, 0) 95%
  );

  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  padding: 3.2rem 6.4rem;
}

.hero-item-text-box .secondary-header {
  color: #fff;
}
.hero-item-text-box p {
  color: #fff;
  font-size: 2rem;
  line-height: 1.6;
}

.hero-tiendas {
  background-image: url(../img/banner/banner-tecnogallery-tiendas.jpg);
}
.hero-reparacion {
  background-image: url(../img/banner/banner-tecnogallery-reparaciones.jpg);
}
.hero-fundas {
  background-image: url(../img/banner/banner-tecnogallery-fundas.jpg);
}
.hero-confianza {
  background-image: url(../img/banner/banner-tecnogallery-confianza.jpg);
}
.hero-accesorios {
  background-image: url(../img/banner/banner-tecnogallery-accesorios.jpg);
}

.hero-icons {
  padding: 8rem 0;
  display: flex;
  gap: 4.8rem;
  justify-content: center;
}
.hero-icon {
  width: 4.8rem;
  height: 4.8rem;
}
/* ******************************************
**  Nosotros
****************************************** */
.section-nosotros {
  color: #fff;
  background-color: #001132;
  padding: 9.6rem 0;
}
