/* ******************************************
**  HEADER NAV-BAR
****************************************** */
.header {
  padding: 0 4.8rem;
  background-color: #001132;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.5);

  position: fixed;
  width: 100%;
  height: 4.8rem;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  height: 4.8rem;
}

.nav-bar-list {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

.nav-bar-item {
  align-self: center;
  color: #fff;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
}

.nav-bar-item:hover {
  /* background-color: #002d86; */
  /* background-image: radial-gradient(#002d86 0, #001132 80%); */
}

.nav-bar-item a:link,
.nav-bar-item a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.3s;
}

.nav-bar-item a:hover,
.nav-bar-item a:active {
  border-bottom: 3px solid #fff;
}

.btn-online-shop {
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
}

/* ******************************************
**  HERO - carousel
****************************************** */
.section-hero {
  position: relative;
  padding: 4.8rem 0 9.6rem;
  background-color: #001132;
}
.hero-item {
  width: auto;
  height: 55vh;
  background-size: cover;
  background-position: center;
  grid-template-columns: 1fr 2fr;
  display: grid;
}
.hero-item-text-box {
  background-image: linear-gradient(
    to right,
    rgba(0, 17, 50, 0.89) 0%,
    rgba(255, 255, 255, 0) 95%
  );

  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  padding: 3.2rem 6.4rem;
}

.hero-item-text-box .secondary-header {
  color: #fff;
}
.hero-item-text-box p {
  color: #fff;
  font-size: 2rem;
  line-height: 1.6;
}

.hero-tiendas {
  background-image: url(../img/banner/banner-tecnogallery-tiendas.jpg);
}
.hero-reparacion {
  background-image: url(../img/banner/banner-tecnogallery-reparaciones.jpg);
}
.hero-fundas {
  background-image: url(../img/banner/banner-tecnogallery-fundas.jpg);
}
.hero-confianza {
  background-image: url(../img/banner/banner-tecnogallery-confianza.jpg);
}
.hero-accesorios {
  background-image: url(../img/banner/banner-tecnogallery-accesorios.jpg);
}

.hero-icons {
  padding: 8rem 0;
  display: flex;
  gap: 4.8rem;
  justify-content: center;
}
.hero-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.hero-carrousel-nav {
  position: absolute;
  top: 55vh;
  right: 50%;
  transform: translateX(50%);

  display: flex;
  gap: 0.8rem;
}

.hero-carrousel-item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #b3c3e5;
  /* border: 1px solid #001c54; */
}
.hero-carrousel-item:hover {
  cursor: pointer;
  background-color: #0038a8;
  border: 1px solid #0038a8;
}

.hero-carrousel-active {
  background-color: #e6ebf6;
  border: 1px solid #0038a8;
}

/* ******************************************
**  Nosotros
****************************************** */
.section-nosotros {
  color: #fff;
  background-color: #001132;
  padding: 9.6rem 0 12.8rem;
}

.primary-header {
  margin-bottom: 12.8rem;
  text-align: center;
}

.section-nosotros .grid {
  row-gap: 3.2rem;
  column-gap: 6.4rem;
}

.nosotros-text-box {
  /* padding: 3.2rem; */
}

.nosotros-text-header {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.nosotros-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.nosotros-text:last-of-type {
  margin-bottom: 1.6rem;
}

.nosotros-lists-item {
  font-size: 1.4rem;
  margin: 0 1.6rem 1.6rem;
}

.nosotros-img-box {
  overflow: hidden;
  border-radius: 9px;
}

.nosotros-img {
  width: 100%;
  border-radius: 9px;

  transition: all 0.5s;
}
.nosotros-img:hover {
  transform: scale(1.1);
}

/* ******************************************
**  Tiendas
****************************************** */
.section-tiendas {
  padding: 12.8rem 0;
  background-color: #e6ebf6;
}

.section-tiendas .secondary-header {
  margin-bottom: 9.6rem;
  text-align: center;
  color: #001c54;
}
.tiendas-grid {
  margin: 0 6.4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.8rem;
  row-gap: 3rem;
}

.tienda {
  background-color: #fff;

  border-radius: 11px;
  gap: 1.8rem;
  transition: all 0.5s;

  position: relative;
}

.tienda-header {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 3.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  border-top: 1px solid #ccd7ee;
  transition: all 0.5s;

  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.tienda:nth-child(odd) .tienda-header {
  background-color: #0038a8;
}
.tienda:nth-child(even) .tienda-header {
  background-color: #001c54;
}

.tienda:hover .tienda-header {
  color: #001c54;
  background-color: #fff;
}

.tienda:hover {
  transform: translateY(-1rem);
  box-shadow: 0 5px 1.6rem 3.2rem rgba(0, 17, 50, 0.047);
}

.tienda-arrow-icon {
  width: 2.4rem;
  height: 2.4rem;
  /* color: #001c54; */
}

.tienda-description-box {
  /* margin-bottom: 3.2rem; */
}

.tienda-description {
  row-gap: 1.8rem;
}

.tienda-description p {
  padding: 1.6rem 3.2rem;
  grid-column: span 2;
  font-size: 1.4rem;
  line-height: 1.4;
}

.tienda-description iframe {
  border-radius: 18px;
  width: 12rem;
  height: 12rem;

  box-shadow: 0 1.2rem 1.8rem rgba(0, 17, 50, 0.137);

  position: absolute;
  right: 10px;
  top: 50%;
  /* transform: translateY(-50%); */
}
.tienda-description img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;

  width: 100%;
}

/* ******************************************
**  Noticias
****************************************** */
.section-noticias {
  padding: 12.8rem 0;
  background-color: #001132;
}

.section-noticias .secondary-header {
  margin-bottom: 9.6rem;
  text-align: center;
  color: #fff;
}

.noticias-box {
  gap: 3.6rem;
}

.noticias-card {
  background-color: #e6ebf6;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  border-radius: 9px;
  overflow: hidden;
}

.noticias-card:hover {
  cursor: pointer;
}

.noticias-img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 100%;
}
.noticias-title {
  border-top: 1px solid #001132;
  padding: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}
.noticias-text {
  font-size: 1.6rem;
  line-height: 1.4;
}

.new-news {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  position: relative;
}

.new-news::after {
  content: "new news!";
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  /* background-color: #a07f0a; */
  background-image: radial-gradient(circle at 50%, #ffd43b 65%, #a07f0a);
  padding: 0.8rem 5rem;

  position: absolute;
  top: 4.8rem;
  right: -4.8rem;

  transform: rotate(45deg);
}

/* ******************************************
**  Franquicias
****************************************** */
.section-franquicias {
  padding: 12.8rem 0;
}

.franquicias-box-flex {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 6.4rem;
}

.section-franquicias .secondary-header {
  text-align: center;
  color: #001132;
  margin-bottom: 3.2rem;
}

.section-franquicias .tertiary-header {
  text-align: center;
  color: #001132;
  margin-bottom: 3.2rem;
}

.section-franquicias .quaternary-header {
  margin-top: 2.4rem;
}

.franquicias-flex {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.franquicias-item-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2.4rem;
}

.franquicias-item-img {
  width: 100%;
}

.franquicias-item-header {
  font-size: 1.8rem;
  line-height: 1.8;
}

.franquicias-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.franquicias-cta-grid {
  margin-top: 9.6rem;

  background-color: #001132;
  overflow: hidden;
  border-radius: 11px;

  color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.franquicias-cta-grid .tertiary-header {
  color: #fff;
}
.cta-text-box {
  padding: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.franquicias-cta-text {
  margin-bottom: 2.4rem;
}

.cta-button {
  grid-column: 1 / -1;
  font-size: 2.2rem;
  font-weight: 500;
  justify-self: center;
  padding: 1.8rem 3.6rem;
  background-color: #a07f0a;
  border-radius: 2.5rem;

  transition: all 0.3s;
}
.cta-button:hover {
  background-color: #ffd43b;
  color: #000611;
}

.franquicias-cta-img {
  background-image: url(../img/franquicias/franquicias\ CTA.jpg);
  background-size: cover;
  background-position: center;
}

/* ******************************************
**  Contact
****************************************** */
.section-contacto {
  padding: 12.8rem 0;
  background-color: #0038a8;
}

.contact-box {
  background-color: #fff;
  padding: 3.2rem 4.8rem;
  border-radius: 11px;
}

.contact-box .secondary-header {
  margin-bottom: 3.2rem;
  text-align: center;
}

.contact-text {
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
}

.form-box-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.contact-box .grid-item {
  display: flex;
  flex-direction: column;
}

.contact-box label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.contact-box input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  background-color: #e6ebf6;
  border: 1px solid transparent;
  border-radius: 9px;
}

.contact-box input:focus {
  outline: 1px solid #0038a8;
}

.form-button-send {
  margin-top: 2.4rem;

  grid-column: 1/-1;
  justify-self: center;
  padding: 1.8rem 3.6rem;
  border-radius: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: #001132;
  color: #fff;

  transition: all 0.3s;
}

.form-button-send:hover {
  background-color: #001c54;
}

.form-button-send:active {
  background-color: #0038a8;
}

/* ******************************************
**  footer
****************************************** */

.footer {
  padding: 9.6rem 0;
  background-color: #001132;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.footer-nav-list li {
  color: #fff;
}
.footer-nav-list a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.footer-nav-list a:link,
.footer-nav-list a:visited {
}

.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: #e6ebf6;
}

.footer-media-box .secondary-header {
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 2.4rem;
}

.footer-icon {
  width: 5rem;
  height: 5rem;
  fill: #fff;
  margin-right: 2.4rem;
}

.footer-icon:hover {
  cursor: pointer;
  fill: #e6ebf6;
}
